---
layout: default
---

<h1>Hi there! I’m Dina.</h1>


I'm a <b>Software Engineer</b> and here I want to share all the stuff related to me.

<h2>SWE</h2>
<p1>
    I'm from Kazakhtan, based in Almaty and working for <a href="https://epam.com/">EPAM Systems</a>.
    Graduated from [Kazakh-British Technical University](https://kbtu.edu.kz/en/)(2021) with BS degree in Software Engineering. 

    I've been developing for backend for over 3 years now (using Python most of the time). I’m keen on problem solving using algorithms and data structures.
    <br> And I'm an enthusiast about open source and knowledge sharing within the community. 
    
</p1>
<h2>Projects I have worked on</h2>

<p>
<a href="https://www.epam.com/">
    <img src="assets/img/logo.png" width="150" 
         alt="EPAM" title="Click to enlarge"></a>
    
<a href="https://chocofood.kz/ru/18">
    <img src="assets/img/image-for-link-1200x630.jpg" width="150" 
         alt="Chocofood" title="Click to enlarge"></a>
</p>

Questions? Feedback? Or just a chat? You can find me on on Telegram by username <i>@dina2505</i>.

